name = "mosaic-wall-backend"
main = "src/index.ts"
compatibility_date = "2024-03-04"

# Node.js compatibility is required for Prisma adapter
compatibility_flags = ["nodejs_compat"]

[vars]
FRONTEND_URL = "https://mosaicwallcloud1.salurprabha.workers.dev"
JWT_SECRET = "9f3c6c5e8f2d4b1a7c9e0d3f6a2b8c4e5f1a9d7c3e6b2f8a1c4d9e0b7f6a3c2"

# Bind a D1 database
[[d1_databases]]
binding = "DB"
database_name = "mosaic-db"
database_id = "d12cb5b7-58c8-4161-b2c9-68d97d64b0b3"
migrations_dir = "prisma/migrations"

# Bind an R2 bucket
[[r2_buckets]]
binding = "UPLOADS_BUCKET"
bucket_name = "uploads-bucket"

# Bind Durable Objects for WebSockets
[[durable_objects.bindings]]
name = "MOSAIC_ROOM"
class_name = "MosaicRoom"

[[migrations]]
tag = "v1" # Needs to match the migration tag
new_sqlite_classes = ["MosaicRoom"]
